body {
    font-family: Roboto, system-ui, sans-serif;
    font-size: 13px;
    margin: 0;
}

.content {
    background-color: white;
    padding: 0 20px;
    width: 550px;
    max-width:100%;
    box-sizing: border-box;
}

label{
    display:inline-block;
    width: 90%;
    vertical-align:top;
    padding-top: 0.2em;
    padding-left: 2px;
}

.settings-wrapper {
    margin-top: 36px;
}

.setting {
    padding: 12px 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin: 0 -10px 0 -20px;
}

.setting:nth-last-child(1) {
    border-bottom:none;
    padding-bottom:30px;
}

.setting-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.setting-content {
    color: #616161;
}

