.zA.bundle-wrapper {
	.bundle-image {
		order: 0;
		img {
			width: 28px;
			padding: 0 6px 0 10px;
		}
	}

	.label-link {
		.bundle-count {
			font-weight: 400;
			margin-left: 5px;
			color: gray;
		}
	}
	.WA { //important-indicator-column
		&.hide-important-markers {
			display: none;
		}
	}

	.a4W { //body-column
		padding-right: 30px;
		.bundle-senders {
			color: #202124 !important;
		}
	}

	&.contains-unread .label-link,
	.bundle-senders span.strong {
		font-weight: 700;
	}
	.bq4 .show-emails {
		background-image: url('chrome-extension://__MSG_@@extension_id__/images/ic_custom-cluster_24px_g60_r3_2x.png') !important;
		background-size: contain;
	}

	&:not(.contains-unread) .bundle-image img {
		opacity: 0.6;
	}
	&:hover {
		.xW { //date-column
			display: none;
		}
		.bq4 { //action-buttons-column
			display: flex;
		}
	}
}

/* Colored bundle titles for Inbox categories */
.zA.yO {
	&[bundleLabel="Updates"] .label-link > span:not(.bundle-count) {
		color: rgb(255, 104, 57);
	}
	&[bundleLabel="Promotions"] .label-link > span:not(.bundle-count) {
		color: rgb(0, 188, 212);
	}
	&[bundleLabel="Forums"] .label-link > span:not(.bundle-count) {
		color: rgb(63, 81, 181);
	}
	&[bundleLabel="Social"] .label-link > span:not(.bundle-count) {
		color: rgb(219, 68, 55);
	}
	&[bundleLabel="Travel"] .label-link > span:not(.bundle-count),
	&[bundleLabel="Trips"] .label-link > span:not(.bundle-count) {
		color: rgb(156, 39, 176);
	}
	&[bundleLabel="Finance"] .label-link > span:not(.bundle-count) {
		color: rgb(103, 159, 56);
	}
	&[bundleLabel="Orders"] .label-link > span:not(.bundle-count),
	&[bundleLabel="Purchases"] .label-link > span:not(.bundle-count) {
		color: rgb(121, 85, 72);
	}
}
