.zA.bundle-wrapper {
	.label-link {
		flex-basis: 212px;
		max-width: 212px;
		.bundle-count {
			font-weight: 400;
			margin-left: 5px;
		}
	}
	.WA { //important-indicator-column
		&.hide-important-markers {
			display: none;
		}
	}

	.a4W { //body-column
		padding-right: 30px;
		.bundle-senders {
			color: #202124;
		}
	}

	&.zE .label-link,	//unread row
	.bundle-senders span.strong {
		font-weight: 700;
	}
	.bq4 .show-emails {
		background-image: url('https://www.gstatic.com/images/icons/material/system/2x/expand_more_black_20dp.png');
		background-size: contain;
		transition: 0.5s all;
	}

	&:hover {
		.xW { //date-column
			display: none;
		}
		.bq4 { //action-buttons-column
			display: flex;
		}
	}
	&[data-show-emails="false"] {
		.show-emails {
			transform: rotate(90deg);
		}
	}
}
