.zA.bundle-wrapper {
	.bundle-image {
		img {
			width: 28px;
		}
	}

	.label-link {
		.bundle-count {
			font-weight: 400;
			margin-left: 5px;
			color: gray;
		}
	}
	.WA { //important-indicator-column
		&.hide-important-markers {
			display: none;
		}
	}

	.a4W { //body-column
		padding-right: 30px;
		.bundle-senders {
			color: #202124 !important;
		}
	}

	&.contains-unread .label-link,
	.bundle-senders span.strong {
		font-weight: 700;
	}
	&:not(.contains-unread) .bundle-image img {
		opacity: 0.6;
	}
}

/* Colored bundle titles for Inbox categories */
.zA.yO[bundleLabel="Updates"]ß .label-link > span:not(.bundle-count) {
	color: rgb(255, 104, 57);
}
.zA.yO[bundleLabel="Promotions"] .label-link > span:not(.bundle-count) {
	color: rgb(0, 188, 212);
}
.zA.yO[bundleLabel="Forums"] .label-link > span:not(.bundle-count) {
	color: rgb(63, 81, 181);
}
.zA.yO[bundleLabel="Social"] .label-link > span:not(.bundle-count) {
	color: rgb(219, 68, 55);
}
.zA.yO[bundleLabel="Travel"] .label-link > span:not(.bundle-count),
.zA.yO[bundleLabel="Trips"] .label-link > span:not(.bundle-count) {
	color: rgb(156, 39, 176);
}
.zA.yO[bundleLabel="Finance"] .label-link > span:not(.bundle-count) {
	color: rgb(103, 159, 56);
}
.zA.yO[bundleLabel="Orders"] .label-link > span:not(.bundle-count),
.zA.yO[bundleLabel="Purchases"] .label-link > span:not(.bundle-count) {
	color: rgb(121, 85, 72);
}
