@import 'avatar';
@import 'bundle';
@import 'calendar-event';

@import 'email-list';
@import 'email-list-skinny';
@import 'email';
@import 'reminder';

@import 'floating-buttons';
@import 'header';
@import 'left-nav';

@import 'toolbar';
@import 'dark-mode';


.Wg.aAr { //email-grouping-headers
	display: none;
}

.left-hand-chat, .g-suite {
	.dw {	//popup-container (holds hangouts chats and email compose)
		left: -40px;
	}
}

.ar4 { //main-container
	max-width: 1200px;
	margin: 0 auto;

	.cf.TB { //no-emails-table
		// add padding to no results message to reduce jumping
		// doesn't fully prevent jumping, revisit after the setInterval is removed
		margin-top: 23px;
		border-bottom: none;
	}

	.aKh { //inbox-tab-container
		margin-bottom: 20px;
		.aKk { //inbox-tab-table
			justify-content: center;
			.aAA { //inbox-tab-row
				justify-content: center;
				// max-width: 1200px;

				.aRz.J-KU { //tab-cell
					justify-content: center;
					flex-grow: 1;

					.aAy { //tab-container
						justify-content: center;
						flex-grow: 1;
					}
				}
			}
		}
	}

	&.z { //main-inbox
		.cf.TB { //no-emails-table
			.TD {
				background-color: transparent;
				.TC {
					background-image: url('chrome-extension://__MSG_@@extension_id__/images/ic_zero_inbox_2x.png');
					background-repeat: no-repeat;
					background-position: center;
					height: calc(100vh - 200px);
					color: transparent;
				}
			}

			@-moz-document url-prefix() {
				.TC {
					background-image: url('moz-extension://__MSG_@@extension_id__/images/ic_zero_inbox_2x.png');
				}
			}
		}
	}

	.pfiaof { //account-usage-info
		display: none;
	}
}
