.Nu.S3.aZ6 { //preview-pane
	overflow: auto;
	box-shadow: 0 3px 4px rgba(0,0,0,.24);
	width: calc(100% - 1px);

	&:not(.show-preview) {
		//need !important to override inline styles
		flex-grow: 0 !important;
		height: 0 !important;
	}
	.ao8 { //preview-pain-container
		width: auto !important;
	}
	.if > .byY { //email-subject-header
		padding-left: 20px;
	}

	.ii.gt { //email-body
		padding-right: 56px;
	}

	.nH.if { //email-container
		.nH.aE0 { //bottom-spacer
			padding-bottom: 0 !important;
		}
	}
}

.Bs.nH.iY.bAt { //email-container
	margin: 2px;
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
	width: auto;
	.byY { //subject-container
		padding: 20px 4px 8px 20px;
		.ha { //subject-text-container
			.J-J5-Ji { //labels-container
				display: none;
			}
		}
	}

	.aHU { //body-container
		.gE { //header-container
			.iw { //email-header
				.go { //email-address
					display: none;
				}
			}
		}
		.ii.gt { //email-body
			padding-right: 56px;
		}
	}

	.Bu.yM { //spacer(?) cell in the email table
		display: none;
	}
}
