.AD [role="dialog"] {
    top: 50px;
}

.AD.compose-reminder {
    top: calc(50vh - 150px);
    left: calc(50vw - 400px);
    position: fixed !important;
    width: 800px;

    .iN > tbody > tr:first-child, // compose-email-body
    .aDl, // compose-email-body-formatting-options
    // .hl, // compose-email-to
    .btC td:not(.Up), // compose-email-footer-row (hides all but the 'Send' Button)
    .hG // compose-email-send-more-options
    {
        display: none !important;
    }

    tr.btC { //compose-email-footer-row
        justify-content: flex-end;
    }

    .aoO { // compose-email-send-button
        border-radius: 4px !important;
    }
}